# dependencies
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
/.next/
/out/
/build
next-env.d.ts

# misc
/tmp
/out-tsc
.DS_Store
*.pem
.vscode/*

# vercel
.vercel

# env
.env*.local

.DS_Store
/.idea
